[mysqld]
port = 3358
server_id = 1
binlog_format = row
log_bin = ../../binlog/mysql-bin.log
binlog_checksum = CRC32
expire_logs_days = 10
max_binlog_size = 100M
basedir = ./
datadir = ./data/mysql
tmpdir = ./data/tmp
socket = ./mysql.sock
pid_file = ./mysql.pid
innodb_buffer_pool_size = 128M
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES